ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.0.0
kedro-datasets[pandas,json,pickle]
pandas
scikit-learn
numpy
matplotlib
seaborn
pydantic
google-genai
sentence-transformers
setfit
torch
flask
flask-cors
